
<button class="btn btn-info" routerLink="/home">Home</button>
<div class="row justify-content-center">

  <form class="col-8" [formGroup]="messageForm" (ngSubmit)="add()">
    <div class="form-group">
      <label>
        Name:
        <input type="text" formControlName="name" class="form-control" placeholder="Name" required>
        
      </label>
    </div>
    <div class="form-group">
      <label>
        Phone:
        <input type="text" formControlName="phone" class="form-control" placeholder="Phone" required>
        
      </label>
    </div> 
    <div class="form-group">
      <label>
          City:
          <input type="text" formControlName="city" class="form-control" placeholder="City" required>
          
      </label>
    </div>
   <button class="btn btn-primary">Add</button>
  </form>
</div>