/* This section will assign the 0 margin to the web page*/
*{
    margin: 0;
}

/* In this section the animation part is applied to each square*/
.box{
    animation: animationRotateSquare;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute; 
    height: 100px;
    width: 100px;
}

/*This section defines the first square of the whole container of light red (tomato) color*/
#square1{
    background: tomato;
    animation-delay: 0s;
}

/*This section defines the second square of the whole conatiner of light green color*/
#square2{
    background: lightgreen;
    animation-delay: 0.5s;
}

/*This section defines the third square of the whole container of light blue color*/
#square3{
    background: aqua;
    animation-delay: 1s;
}

/*This section defines the fourth square of the whole container of blue violet color*/
#square4{
    background-color: blueviolet;
    animation-delay: 1.5s;
}

/*This section defines the animation moves of the whole container*/
@keyframes animationRotateSquare{
    0% {top: 0px; left: 0px;}
    25% {top: 100px; left: 0px;}
    50% {top: 100px; left: 100px;}
    75% {top: 0px; left: 100px;}
    100% {top: 0px; left: 0px;}
}
