
<div class="col-md-4 col-sm-6 col-xs-12 card-custom">
    <div  class="c col-sm-6">
            <img src="assets/user.png" style="height:220px" class="card-img-top logo card" alt="...">
        <ul >
            <li class="list-group-item logo card">{{person.name}}</li>
            <li class="list-group-item logo card">{{person.contact}}</li>
            <li class="list-group-item logo card">{{person.city}}</li>
            <li class="list-group-item logo card">
              <button type="button" class="btn btn-info btn-lg" routerLink="/edit/{{person.id}}">Edit</button>
            </li>
        </ul>
    </div>
</div>